### [LeetCode]题解（MySQL）：176- Second Highest Salary

### 题目来源：
https://leetcode.com/problems/second-highest-salary/description/

### 题意分析：
返回数据表中第二高的薪资

### MySQL：

In [1]:
'''
思路：使用max函数找出最大值，逻辑值取出不包含最大值之外的最大值，即为第二最大值
'''
SELECT MAX(Salary) FROM Employee 
WHERE Salary NOT IN
(SELECT MAX(Salary) FROM Employee);

'''
思路：使用max函数找出最大值，逻辑值取出不包含最大值之外的最大值，即为第二最大值 使用‘<’即可
'''
SELECT MAX(Salary) FROM Employee 
WHERE Salary < 
(SELECT MAX(Salary) FROM Employee);

In [ ]:
'''
思路：使用limit关键字
mysql提供有distinct这个关键字来过滤掉多余的重复记录只保留一条。
'''
SELECT (SELECT DISTINCT Salary SecondHighestSalary FROM Employee ORDER BY Salary DESC LIMIT 1,1) SecondHighestSalary